@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body {
    color : #7B7B7B;
    font-family: 'Nanum Gothic', sans-serif;
}

a {
    text-decoration: none;
    color : #7B7B7B;
}

.button {
    padding : 10px;
    border : 2px solid #FF8181;
}

.button-nofill {
    padding : 10px;
    border : 2px solid #FF8181;
}

.button-fill {
    background-color : #FF8181;
    color : white;
}

.highlight {
    display : inline;
    color : #FF8181;
}