@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

$sunda-pink : #FF8181;
$sunda-grey : #7B7B7B;

* {
    color : $sunda-grey;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight : 700;
}

a {
    text-decoration: none;
    color : $sunda-grey;
}

.button-nofill {
    padding : 10px;

    border : 2px solid $sunda-pink;
    background-color : white;
    
    color : $sunda-pink;

    transition : all 0.5s;
    &:hover {
        background-color: $sunda-pink;
        color : white;
    }
}

.button-fill {
    padding : 10px;

    border : 2px solid $sunda-pink;
    background-color : $sunda-pink;
    
    color : white;

    transition : all 0.5s;
    &:hover {
        background-color : white;
        color : $sunda-pink;
    }
}

.highlight {
    color : $sunda-pink;
}

.inline {
    display : inline;
}