.CreateNew {
    @import '../global/commonStyle.scss';
    
    cursor : pointer;
    
    .create-menu {
        border : 2px solid $sunda-pink;
        position: absolute;
        display : none;
        
        background-color : RGBA(255,255,255,0.8);
    }
    
    .subcontainer {
        display : flex;
        justify-content : center;
        align-items : center;
        padding : 20px 20px;

        > h4{
            margin: 0 0 0 10px;
        }

        &:hover {
            background-color : $sunda-semipink
        }
    }

    .show {
        display : block;
    }
}