.header {
    display: flex;
    border : 2px solid #FF8181;
}
.gnb, .logo, .search{
    flex: none;
}

.gnb {
    margin-left: auto;
}

.search {
    display: flex;
    width: 400px;
    padding: 14px 0;
    margin-left: 10px;
}
.search_button {
    width: 37px;
        border: 0;
    background-color: #26a93a;
}
input{
    flex: 1;
    width: 322px;
    height: 37px;
    background-color: white;
}
